tmp/
venv/
env/
venv3_new/
.idea/
Pentaho-scripts/
__pycache__/
*.pyc
cmd.txt
tests/temp
config/config.yml
config/data-loader.yml
config/file-loader.yml
config/es_loader_*
backup/
.vscode/
**.DS_Store
config/c3dc-model.yml
config/c3dc-model-props.yml
data/
