__pycache__/
.idea/
.vscode/
*.pyc
**.DS_Store
backup/
cmd.txt
data/
env/
tmp/
venv/
venv3_new/
Pentaho-scripts/
tests/temp

# Configuration files
config/c3dc-model.yml
config/c3dc-model-props.yml
config/config.yml
config/data-loader.yml
config/es_loader_*
config/es_loader.yml
config/file-loader.yml
